* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 2em;
    font-weight: 700;
}

body {
    min-height: 100vh;
    padding: 50px 20px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: #1a1919;
    color: #e4e7f7; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    color: white;
    margin: auto 25px;
    padding: 15px auto;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    width: 90%;
    max-width: 500px;
    background-color: #292828;
}

fieldset {
    border: 0 none;
    height: 100%;
    padding: 25px;
    margin: 10px 20px;
}

label {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    display: block;
    font-size: 2.5rem;
    width: 100%;
    height: 60px;
    padding: 6px 12px;
    margin: 10px 0;
    line-height: 1.4;
    color: white;
    background-color: #1a1919;
    border: 2px solid white;
    border-radius: 5px;
}

button {
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    background-color: #fecc4c;
    border: 2px solid #fecc4c;
    padding: 10px 16px;
    font-size: 23px;
    width: 100%;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
    background-color: #ffd979;
    border-color: #ffd979;
}

.hidden {
    display: none;
}

.alert {
    font-size: 2rem !important;
    background-color: #ffadad !important;
    border: 2px solid #850000 !important;
    color: #850000 !important;
}

.output {
    color: white;
    background-color: #292828;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 2rem;
    width: 90%;
    max-width: 500px;
    min-height: 55px;
    margin-top: 25px;
    padding: 15px;
    overflow-wrap: break-word;
    text-align: center;
}